body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.parent {
  display: flex;
}

.col {
  padding: 3rem;
  flex: 3;
}

.small-col {
  flex: 1;
}

table,
thead,
tr,
th,
td,
tbody {
  border-collapse: collapse;
  border-bottom: solid 1px black;
  padding: 0.6rem;
}
